<div class="container" id="about">
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded border border-primary" style="background-color: rgba(255, 255, 255, 0.9);">
    <center><h1 style="font-family: bankgothic;"><%= @about.title %></h1></center>
    <%= simple_format @about.body %>
  </div>
</div>
