<%= render '/services/navbar' %>
<center><h1>Услуги и цены</h1></center>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="background: white;" id="p1" >
    <%= render '/services/table' %>
  </div>
  <hr>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="background: white;" id="p2" >
    <%= render '/services/table2' %>
    
  </div>

</div>
