<a href="https://redirect.appmetrica.yandex.com/serve/750432992219978079?partner_id=831050&appmetrica_js_redirect=0&full=0&clid=15048617&banerid=1315048619" target="_blank" id="yandex-icon">
  <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Yandex_Browser_icon.svg" alt="Yandex" width="50" height="50">
</a>
<a href="https://t.me/itmaster_33" target="_blank" id="telegram-icon">
  <img src="https://telegram.org/img/t_logo.png" alt="Telegram" width="50" height="50">
</a>
